/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #343a40;
}

::-webkit-scrollbar-thumb {
  background: #6741d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #845ef7;
}

